<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670737310373-46k8ii2opjtnrdahu0luh3b45csdu9hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670737310373-46k8ii2opjtnrdahu0luh3b45csdu9hl</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ychsJcgtHT2ddscfdIGTPRoMYpC66dY</string>
	<key>GCM_SENDER_ID</key>
	<string>670737310373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanApp</string>
	<key>PROJECT_ID</key>
	<string>myfanpage5</string>
	<key>STORAGE_BUCKET</key>
	<string>myfanpage5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670737310373:ios:3c301da33fcaf03721a34c</string>
</dict>
</plist>